{% extends "dashboard_layout.html" %}

{% block body %}
<div class="content-section">
  <form method="POST" action="/videos" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Upload Files for Translation</legend>
        <div class="form-group">
          {{ form.subject.label(class="form-control-label")}} 
          {% if form.subject.errors %}
            {{ form.subject(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.subject.errors %}
                <span> {{error}} </span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.subject(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.standard.label(class="form-control-label") }}
          {% if form.standard.errors %}
            {{ form.standard(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.standard.errors %}
                <span> {{error}} </span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.standard(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.chapter.label(class="form-control-label")}}
          {% if form.chapter.errors %}
            {{ form.chapter(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.chapter.errors %}
                <span> {{error}} </span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.chapter(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.videoUrl.label(class="form-control-label")}}
          {% if form.videoUrl.errors %}
            {{ form.videoUrl(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.videoUrl.errors %}
                <span> {{error}} </span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.videoUrl(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.file.label(class="form-control-label")}}
          {% if form.file.errors %}
            {{ form.file(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.file.errors %}
                <span> {{error}} </span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.file(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
  </form>
</div>
{% endblock  %}